<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
<% end %>


<%= form_for @user do |f| %>
  <%= f.label :username, "Your Username:" %>
  <%= f.text_field :username, placeholder: "example Username" %><br>
  <%= f.label :email %>
  <%= f.text_field :email, value: "hiho@example.com" %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>




<!--<%= form_tag("/users", method: "post") do %>
  <%= label_tag("user[username]", "Username:") %>
  <%= text_field_tag("user[username]") %><br>
  <%= label_tag("user[email]", "Email:") %>
  <%= text_field_tag("user[email]") %><br>
  <%= label_tag("user[password]", "Password:") %>
  <%= password_field_tag("user[password]") %><br>
  <%= submit_tag("Submit") %>
<% end %>

<form action="/users" method="post" accept-charset="UTF-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="user[username]">Username:</label>
	<input type="text" name="user[username]"><br>
	<label for="user[email]">Email:</label>
	<input type="text" name="user[email]"><br>
	<label for="user[password]">Password:</label>
	<input type="password" name="user[password]"><br>
	<input type="submit" value="Submit">
</form> -->